body{
    height: 100vh;
    background:url('/imagens/photo-1592210454359-9043f067919b.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.central{
    width: 500px;
    background: rgba(0, 0, 0, 0.256);
    color: white;
    padding:20px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

.central input{
    width: 350px;
    height: 20px;
    &:focus{
        outline: 1px solid gray;
        background: black;
        color: white;
        &::placeholder{
           color: rgb(236, 236, 211);
        }
    }
    &::placeholder{
        color: silver;
    }
}

.central button{
    width: 100px;
    height: 28px;
    background: black;
    color: white;
    &:hover{
        cursor: pointer;
        color: yellow;
    }
}

.central p{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}